input {
    keyboard {
        xkb {
            layout "es"
            options "ctrl:nocaps"
        }
            repeat-delay 200
            repeat-rate 40
    }

    mouse {
        accel-profile "flat"
    }

    warp-mouse-to-focus
    focus-follows-mouse max-scroll-amount="0%"
}

/-output "eDP-1" {
    mode "1920x1080@60"
    scale 1.0
}

cursor {
xcursor-theme "Adwaita"
xcursor-size 12
hide-when-typing
hide-after-inactive-ms 5000
}

layout {
    gaps 0
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33334
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 1.0; }
    focus-ring {
        off
    }

    border {
        off
    }

}

spawn-at-startup "mako"
spawn-sh-at-startup "wal -qnetR && ~/.wbg"
spawn-sh-at-startup "sed -i 's/hide-after-inactive-ms 5000/hide-after-inactive-ms 0/' ~/.config/niri/config.kdl && niri msg action load-config-file && sleep 5 && sed -i 's/hide-after-inactive-ms 0/hide-after-inactive-ms 5000/' ~/.config/niri/config.kdl && niri msg action load-config-file"

hotkey-overlay {
    skip-at-startup
}

prefer-no-csd

screenshot-path "~/images/screenshots/screenshot_from_%Y-%m-%d_%H-%M-%S.png"
// screenshot-path null

animations {
    off
    slowdown 0.75
}

workspace "1" {}
workspace "2" {}
workspace "3" {}

window-rule {
    match app-id=r#"zen$"# title="^Picture-in-Picture$"
    open-floating true
    default-column-width { proportion 0.33334; }
}

window-rule {
    match 
    exclude app-id="emacs"
    exclude app-id="zen"
    open-on-workspace "3"
}

window-rule {
    match app-id="keepassxc"
    default-column-width { proportion 0.3; }
    block-out-from "screen-capture"
    open-on-workspace "1"
}

window-rule {
    match app-id="org.pwmt.zathura"
    default-column-width { proportion 0.66667; }
    open-on-workspace "2"
}

window-rule {
    match app-id="emacs"
    default-column-width { proportion 1.0; }
    open-maximized false 
}

window-rule {
    match app-id="zen"
    open-on-workspace "1"
}


binds {

    Mod+Shift+Return { spawn "foot"; }
    Mod+P { spawn "fuzzel"; }
    
    Mod+1 { spawn-sh "/home/jefaturico/nixos/utils/rust/niri-lof zen zen"; }
    Mod+Return { spawn "sh" "-c" "emacsclient -c -a ''"; }
    Mod+B { spawn-sh "/home/jefaturico/nixos/utils/shell/wsetbg.sh -r"; }
    Mod+Shift+B { spawn-sh "/home/jefaturico/nixos/utils/shell/wsetbg.sh"; }
    Mod+W { spawn-sh "/home/jefaturico/nixos/utils/shell/niri-switcher.sh"; }
    Mod+D { spawn-sh "/home/jefaturico/nixos/utils/shell/wpdf-find.sh"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "set" "20%+" ; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "set" "20%-" ; }
    
    Mod+O repeat=false { toggle-overview; }

    Mod+Escape repeat=false { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Left { consume-or-expel-window-left; }
    Mod+Shift+Right { consume-or-expel-window-right; }
    Mod+Shift+H { consume-or-expel-window-left; }   
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K    { move-window-up; }
    Mod+Shift+L { consume-or-expel-window-right; }

    Mod+Ctrl+Left  { move-column-left; }
    Mod+Ctrl+Right { move-column-right; }
    Mod+Ctrl+H    { move-column-left; }
    Mod+Ctrl+L     { move-column-right; }

    Mod+Ctrl+Shift+H { focus-column-first; }
    Mod+Ctrl+Shift+L  { focus-column-last; }

    Mod+Ctrl+Shift+K         { move-workspace-up; }
    Mod+Ctrl+Shift+J         { move-workspace-down; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp   cooldown-ms=150 { move-column-to-workspace-up; }

    Mod+Shift+WheelScrollDown      cooldown-ms=150 { focus-column-right; }
    Mod+Shift+WheelScrollUp        cooldown-ms=150 { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

 //   Mod+1 { focus-workspace "1";  }
    Mod+2 { focus-workspace "2";  }
    Mod+3 { focus-workspace "3";  }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace "1"; }
    Mod+Ctrl+2 { move-column-to-workspace "2"; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    Mod+N { set-column-width "33.334%"; }
    Mod+Ctrl+N { set-column-width "50%"; }
    Mod+Ctrl+Shift+N { set-column-width "66.667%"; }

    Mod+M { expand-column-to-available-width; }
    Mod+Ctrl+M { maximize-column; }
    Mod+Shift+M { fullscreen-window; }

    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Plus { set-column-width "+10%"; }

    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus { set-window-height "+10%"; }

    Mod+F       { toggle-window-floating; }
    Mod+Ctrl+F { switch-focus-between-floating-and-tiling; }

    Mod+T { toggle-column-tabbed-display; }

    Mod+S { screenshot; }
    Mod+Shift+S { screenshot-screen; }
    Mod+Ctrl+S { screenshot-window; }

    Mod+Ctrl+Shift+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Mod+Ctrl+Escape { quit; }
}

gestures {

    hot-corners {
        off

    }
}
